{% extends 'base.html.twig' %}

{% block title %}Mon compte - La boutique FR{% endblock %}

{% block content %}
    <h1>Mon compte</h1>





    Bienvenue {{ app.user.firstname }} dans votre compte. C'est dans cet espace que vous allez pouvoir gérer toute vos informations personnelles<br/>

    <hr>
    <a href="{{ path('account_password') }}">Modifier mon mot de passe</a><br/>
    <a href="{{ path('account_address') }}">Gerer mes addresses</a><br/>




{% endblock %}
