{% extends 'base.html.twig' %}

{% block title %}Modfier mon mot de passe - La boutique FR{% endblock %}

{% block content %}
    <h1>Mon compte</h1>

    <a href="{{ path('account') }}">Retourner à mon compte</a><br/>

    <hr>
    {% if notification %}
        <div class="alert alert-info">{{ notification }}</div>
     
    {% endif %}
    {{ form(form) }}
    <hr>


    
{% endblock %}
